/* 9994 9995 9996 (rock paper scissors) emoji */

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(235, 235, 235);
    background-color: rgb(38, 38, 38);
}

h1, h2{
    text-align: center;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}

.game{
    margin-left: 6rem;
    margin-right: 6rem;
    height: 25rem;
}

.arena{
    display: flex;
    justify-content: space-around;
    height:50%;
}

.you{
    background-color: #FF7A7A;
}

.computer{
    background-color: #56C2FF;
}

.you, .computer{
    width: 30%;
    border-radius: 1.5rem;
}

.result{
    height: 5rem;
}

.choice-container{
    display: flex;
    justify-content: space-around;
}

.choice{
    background-color: #FFFB9F;
    width: 20%;
    height: 20%;
}