@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fade-in .5s forwards;
}
body{
    font-family: 'Roboto', sans-serif;
    color: rgb(235, 235, 235);
    background-color: rgb(38, 38, 38);
}

h1, h2{
    text-align: center;
    margin: 0;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    font-weight: normal;
}

main h2{
    margin-bottom: .4rem;
}

main{
    margin-left: 10rem;
    margin-right: 10rem;
    height: 40rem;
}

.arena{
    display: flex;
    justify-content: space-around;
    height: 45%;
}

.your-play{
    background-color: #FF7A7A;
    box-shadow: 0 0 1rem #FF7A7A;
}

.computer-play{
    background-color: #56C2FF;
    box-shadow: 0 0 1rem #56C2FF;
}

.you, .computer{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.your-play, .computer-play{
    flex-grow: 1;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
}

.result-container{
    height: 5rem;
    margin-top: .2rem;
    margin-bottom: 1rem;
}
.message{
    margin: 0;
}

.choice-container{
    display: flex;
    justify-content: space-around;
    height: 18%;
    text-align: center;
}

button{
    cursor: pointer;
    transition: .2s;
}

button:hover{
    transform: translate(0, -.2rem);
}

.choice{
    display: block;
    background-color: #FFFB9F;
    width: 20%;
    font-size: 4rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
}

#restart-container{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#restart{
    width: 12rem;
    height: 3rem;
    background-color: #5BB86F;
    color: rgb(236, 236, 236);
    border: none;
    border-radius: .3rem;
    font-size: 1.2rem;
}