/* 9994 9995 9996 (rock paper scissors) emoji */

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(235, 235, 235);
    background-color: rgb(38, 38, 38);
}

header{
    margin-bottom: 3rem;
}

h1, h2{
    text-align: center;
    margin: 0;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}

.game h2{
    margin-bottom: .4rem;
}

.game{
    margin-left: 6rem;
    margin-right: 6rem;
    height: 40rem;
}

.arena{
    display: flex;
    justify-content: space-around;
    height:50%;
}

.you, .computer{
    width: 30%;
}

.your-play{
    background-color: #FF7A7A;
}

.computer-play{
    background-color: #56C2FF;
}

.you, .computer{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.your-play, .computer-play{
    flex-grow: 1;
    border-radius: 1.5rem;
}

.result{
    height: 5rem;
}

.choice-container{
    display: flex;
    justify-content: space-around;
}

.choice{
    background-color: #FFFB9F;
    width: 20%;
    height: 20%;
}